@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,600&family=Ubuntu:wght@400;500&display=swap');
body{
  padding: 10px;
}
.navbar{
  background-color: black;
  padding: 5px;
}
.navbar .menu{
  display: flex;
}
.navbar .menu li{
  margin: 5px;
  color: white;
  list-style: none;
}
.navbar .logo{
  color: white;
}
.navbar .menu li a{
  color: white;
}
.navbar .logo, .navbar .menu{
  display: flex;
}

/* home styling */
.home{
  height: 100vh;
  background-color: darkorange;
}
.home .text-1{
  padding: 2%;
  
}
.home .text-2{
  padding: 2%;
  
}
