<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CODEBLAZE CBT WEB APP</title>
        <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/styles.css}">
    </head>
<body>
<div class="container">
    <div class="headerOfPage">
    <h4>KELCODE SCHOOL MANAGEMENT APP</h4>
    <nav>
        <ul class="navigationlist">
            <li><a th:href="@{'#formdiv'}">SIGNUP</a></li>
            <li><a th:href="@{/studentcreateorlogin}">LOGIN</a></li>
            <li><a th:href="@{/studentcreateorlogin}">CONTACT</a></li>
        </ul>


    </nav>
    </div>
    <section class="createprofile">
        
        <div class="info">
            <h2>Read This Before You Proceed</h2>
            <p>This CBT app is designed to test Knowledge of Java programming Proficiency .To be able to access the test arena page you need to sign up with your credentials</p>
        </div>
      <div class="formdiv" id="formdiv">
          <h1>Create Student Profile</h1>
          <form action="">
              <label for="" class="name">First Name:</label>
          </form>
      </div>  
    </section>
</div>
</body>
</html>