<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CODEBLAZE CBT WEB APP</title>
        <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/styles.css}">
    </head>
<body>

    <nav class="navbar">
    <div class="max-width">
    <div class="logo"><a>CODEBLAZE CBT WEB APP</a></div>
        <ul class="menu">
            <li><a th:href="@{/studentcreateorlogin}" class="menu-btn">HOME</a></li>
            <li><a th:href="@{'#formdiv'}" class="menu-btn">SIGNUP</a></li>
            <li><a th:href="@{/studentcreateorlogin}" class="menu-btn">LOGIN</a></li>
            <li><a th:href="@{/studentcreateorlogin}" class="menu-btn">CONTACT</a></li>
        </ul>
        <div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div>
    </div>
    </nav>
    <!-- Home Section -->
    <section class="home">
        
        <div class="max-width">
            <div class="home-content">
                <div class="text-1">Welcome to CodeBlaze Java CBT Proficiency Test

                </div>
                <div class="text-2">
                    <h2>Read This Before You Proceed</h2>
                    <p>This CBT app is designed to test Knowledge of Java programming Proficiency .To be able to access the test arena page
                        you need to sign up with your credentials</p>
                </div>
            </div>  
        </div> 
    </section>
<script th:src="@{'/js/jq.js'}"></script>
<script th:src="@{'/js/script.js'}"></script>
<script th:src="@{'/js/fontawesome.min.js'}"></script>
<script th:src="@{'/js/waypoint.min.js'}"></script>
<script th:src="@{'/js/owlcarousel.min.js'}"></script>
<script th:src="@{'/js/mytyped.min.js'}"></script>
</body>
</html>