<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodeBlaze Academy CBT web app</title>
   <meta http-equiv="X-UA-Compatible">
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <style>
        .headerOfPage{
            flex-direction: row;
            display: flex;
            justify-content: space-between;
            background: yellow;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="headerOfPage">
    <p id="homePageTitle">WELCOME TO CODEBLAZE ACADEMY CBT WEB APP</p>
        <a th:href="@{/signup/new}">Create Profile Or Login</a>
        <a th:href="@{/storeddata}">View Stored Student Data</a>
        <a th:href="@{/TestArena}">Start Test</a>
    <img class="two" th:src="@{/school.jpg}" width="200" height="200">
    </div>
    <div>
        <img th:src="@{/kcweblogo.webp}" width="400" height="300">
    </div>
    <div>
        <h3>The Aim of This Web app is to enable Lecturers/Teachers of Schools to be able to carry out all their test
        for Students</h3>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br> <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br> <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br> <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br> <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br> <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a th:href="#{homePageTitle}">back to the top</a>
</div>
</body>
</html>